{% extends "base.html" %}

{% block title %}{{ _('Редагувати профіль') }}{% endblock %}

{% block body_class %}content-page{% endblock %}

{% block content %}
<div class="page-container">
    <h1>{{ _('Редагувати профіль') }}</h1>

    <form class="profile-form" method="POST" enctype="multipart/form-data">
        <label for="description">{{ _('Опис') }}</label>
        <textarea name="description" id="description" rows="4">{{ user.description or '' }}</textarea>

        <label for="photo">{{ _('Фото профілю') }}</label>
        <input type="file" name="photo" id="photo" accept="image/*">

        <label>{{ _('Захоплення') }}</label>
        <div class="hobbies-container">
            {% for hobby in hobbies_list %}
                <div class="hobby-checkbox">
                    <input type="checkbox" name="hobbies" value="{{ hobby }}" id="hobby-{{ loop.index }}"
                           {% if hobby in user.hobbies %}checked{% endif %}>
                    <label for="hobby-{{ loop.index }}">{{ _(hobby) }}</label>
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="big-btn">{{ _('Зберегти') }}</button>
    </form>
</div>
{% endblock %}