{% extends "base.html" %}

{% block title %}{{ _('Головна') }}{% endblock %}

{% block body_class %}content-page{% endblock %}

{% block content %}
<div class="page-container">
    <div class="welcome-header">
        <h1>{{ _('Привіт') }}, {{ session.user.split('@')[0] }}!</h1>
        <p>{{ _('Використовуйте навігацію, щоб керувати своїм профілем.') }}</p>
    </div>

    <div class="home-actions">
        <a href="{{ url_for('edit_profile') }}" class="big-btn secondary">{{ _('Редагувати профіль') }}</a>
        <a href="{{ url_for('logout') }}" class="big-btn danger">{{ _('Вийти') }}</a>
    </div>
</div>
{% endblock %}